.form{
    max-width: 36rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-content: center;
    justify-content: center;
}
.input{
    background-color: #f6bad8;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0rgba(0, 0, 0, 0.06);
    width: 100%;
    text-align: center;
}
.btnSearch{
    color: #6f46bb;
    background-color: gray;
    width: 120px;
    height: 30px;
    border-radius: 0.25rem;
    margin-top: 5px;
}